.exerciseStep { display: none; height: 100%; width: auto; padding: 20px; text-align: center; font-size: 24px; }
.exerciseStep.active, .exerciseStep span { display: block; }
.exerciseStep span { padding-bottom: 20px; }
.stepTitle { font-weight: bold; }
.bar-footer p { text-align: center; font-style: italic; padding-top: 6px; }